
        <!--<div id="bg" class="img-fluid max-width">
            <img src="https://fotografias.lasexta.com/clipping/cmsimages01/2018/07/24/0F8B8421-D3E2-4770-8029-28F404430B25/default.jpg?crop=4076,2293,x0,y214&width=1900&height=1069&optimize=low" alt="">
        </div> Arreglar -->
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">
             
            <div class="card">
            <div class="card-header">
                Contratistas
            </div>
            <div class="card-body">
            <table class="table">
                <thead class="table-primary">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">CUIT</th>
                    <th scope="col">Fecha</th>
                    <th scope="col"><a href="/add/contratista" class="btn btn-success form-control" role="button">Agregar</a></th>
                </tr>
                </thead>
                <tbody class="table-secondary">
                    {{#each array_ID}}
                        <tr>
                            <td>
                                {{ nombre }} {{ apellido }}
                            </td>
                            <td>
                                {{ CUIT }}
                            </td>
                            <td>
                                {{ toFormat fecha_certificacion }}
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-6">   
                                        <a href="/delete/contratista/{{ID_CONT}}" class="btn btn-danger form-control" role="button">Eliminar</a>
                                    </div>
                                    <div class="col-6">
                                        <a href="/edit/contratista/{{ID_CONT}}" class="btn btn-secondary form-control" role="button">Editar</a> 
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {{else}}
                        <h1>No tiene mas conctratistas!</h1><br>
                        {{/each}}
                </tbody>
            </table>
            </div>
            </div>


           
        </div>
    </div>
</div>
