
        <!--<div id="bg" class="img-fluid max-width">
            <img src="https://fotografias.lasexta.com/clipping/cmsimages01/2018/07/24/0F8B8421-D3E2-4770-8029-28F404430B25/default.jpg?crop=4076,2293,x0,y214&width=1900&height=1069&optimize=low" alt="">
        </div> Arreglar -->

<script>backgnd("/pictures/background/SS-Escuela.jpg");</script>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">
             
            <div class="card">
            <div class="card-header">
                Instituciones
            </div>
            <div class="card-body">
            <table class="table">
                <thead class="table-primary">
                <tr>
                    <th scope="col">CUE</th>
                    <th scope="col">ID_EST</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Director</th>
                    <th scope="col">Inspector</th>
                    <th scope="col">
                        <div class="btn-group form-control" role="group" aria-label="Basic example">
                            <a href="/add/institucion" class="btn btn-success" role="button">Agregar</a>
                            <a href="/add/encargado" class="btn btn-success" role="button">Agregar Direc/Inspec</a> 
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody class="table-secondary">
                    {{#each ints}}
                        <tr>
                            <td>
                                {{ CUE }}
                            </td>
                            <td>
                                {{ ID_EST }}
                            </td>
                            <td>
                                {{ nombre_establecimiento }}
                            </td>
                            <td>
                                {{ nombre_director }}
                            </td>
                            <td>
                                {{ nombre_inspector }}
                            </td>
                            <td>
                                 <div class="btn-group form-control" role="group" aria-label="Basic example">
                                    <a href="/delete/institucion/{{CUE}}/{{ID_EST}}" class="btn btn-danger" role="button">Eliminar</a>
                                    <a href="/edit/institucion/{{CUE}}/{{ID_EST}}" class="btn btn-secondary" role="button">Editar</a> 
                                </div>
                            </td>
                        {{else}}
                            <h1>No tiene mas conctratistas!</h1><br>
                        {{/each}}
                </tbody>
            </table>
            </div>
            </div>


           
        </div>
    </div>
</div>


