<h2>INGRESE</h2> 
<form action="/edit/expediente/{{EXP.ID_EXP}}" method="POST">
    <label>Fecha del Expediente </label><input type="date" value="{{ toFormatDef EXP.fecha_pedido}}" name="fecha_pedido" required disabled> <label> Posponer a </label><input type="date" value="{{toFormatDef EXP.postpone_date}}" name="postpone_date">
    <br>
    <label>Fecha del Contrato </label><input type="date" value="{{toFormatDef EXP.fecha_contrato}}" name="fecha_contrato" required> <label> Fecha de Garantia </label><input type="date" value="{{toFormatDef EXP.fecha_garantia}}" name="fecha_garantia">
    <br>
    <br>

     <label>Oficina: </label><select name="ID_OFICINA" id="ID_OFICINA" required>
        {{#each oficina}}
            <option value="{{ID_OFICINA}}" {{selectedornot ID_OFICINA ../EXP.ID_OFICINA}}>{{tipo}}</option>                                                                                                                                  
        {{/each}}
            <option value="otro">Otro</option>
    </select> 
    <input placeholder="Otro..." name="otra_oficina">    
    
    <br><br>

    <table>
        <tr>
            <td>
                 <label>Informe Tecnico: </label>
            </td>
            <td>
                 <label>Obra realizada: </label>
            </td>
        </tr>
        <tr>
            <td>
                <textarea name="informe_tecnico">                                                                                                               
                    {{EXP.informe_tecnico}}
                </textarea>
            </td>
            <td>
                <textarea name="obra_realizada" required>               
                    {{EXP.obra_realizada}}
                </textarea>
            </td>
        </tr>
    </table>
    <br><br>
    <label>Contratación:</label><br>
    <input type="radio" value="1" name="ID_CONTRATACION" required  {{checkornot 1 EXP.ID_CONTRATACION}}> Directa
    <input type="radio" value="2" name="ID_CONTRATACION"  {{checkornot 2 EXP.ID_CONTRATACION}}> A Cotizar
    <br><br>
    <label>Fondo:</label><br>
    <input type="radio" value="1" name="ID_FONDO" required {{checkornot 1 EXP.ID_FONDO}}> Cuff
    <input type="radio" value="2" name="ID_FONDO"  {{checkornot 2 EXP.ID_FONDO}}> Compensador
    <input type="radio" value="3" name="ID_FONDO" {{checkornot 3 EXP.ID_FONDO}}>  Otro
    <br><br>

    <label>Monto: </label><input type="number" name="monto_numeros" value="{{EXP.monto_numeros}}" placeholder="Monto en Números" required>
    <br><br>    
    <label>Institución:</label>
    <select name="inst" id="inst">
        {{#each inst}}
        <option value="{{CUE}}###{{ID_EST}}" {{selectedornot ID_EST ../EXP.ID_EST}}  >{{nombre_establecimiento}}</option>
        {{/each}}
    </select>

    <br><br>
    <label>Contratista:</label>
    <select name="contratista" id="contratista" required>
        {{#each contratista}}
        <option value="{{ID_CONT}}" {{selectedornot ID_CONT ../EXP.ID_CONT}}>{{cont_name}}</option>
        {{/each}}
    </select>
    <input type="number" name="presupuesto_entregado" placeholder="Presupuesto Entregado" required value="{{EXP.presupuesto_entregado}}">

    <br><br><select name="ID_ESTADO" id="ID_ESTADO" required>
        <option value="1" {{selectedornot 1 EXP.ID_ESTADO}}>En Cotización</option>
        <option value="2" {{selectedornot 2 EXP.ID_ESTADO}}>En Proceso</option>
        <option value="3" {{selectedornot 3 EXP.ID_ESTADO}}>Finalizada</option>
        <option value="4" {{selectedornot 4 EXP.ID_ESTADO}}>Sin Asignar</option>
    </select> <input type="submit" value="ENVIAR">
</form> 